 /* General Page Styling */

 body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color:lightblue;
 }

 /* Navigation bar */

 nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color:grey;
    padding: 10px;
    margin: 0;
 }

 nav ul li a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;

 }

 /* Hover effect */
 nav ul li a:hover {
    color: yellow;
 }
/* form styling */
form {
   max-width: 600px;
   margin: auto;
}

/* space put questions */
.card {
   margin-bottom: 20px;
}

/* Buttons */
button {
   padding: 10px 15px;
   margin: 10px 5px 0 0;
   border: none;
   background-color: #333;
   color: white;
   cursor: pointer;
}

/* Hover effect for buttons */
button:hover {
   background-color: #555;
}

/* Results section */
#results {
   margin-top: 20px;
   font-weight: bold;
}


 /*footer*/
 footer {
    text-align: center ;
    padding: 10px;
    background-color: grey;
    color: white;
    margin-top: 20px; 
}